ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #1745BF; // Color del texto del título
  }

  ion-card-content {
    p {
      color: #555; // Color del texto del contenido
    }
  }
  
  form {
    ion-item {
      ion-label {
        color: #3498db; // Color del texto de las etiquetas
      }
    }
}
ion-button {
    --background: #3498db; // Color de fondo del botón
    --color: #fff; // Color del texto del botón
    margin-top: 20px;
  }
